<h1 class="title">Demo Blog</h1>

<%= link_to 'My Blog', controller: 'posts' %>

<%= link_to 'New Blog', new_post_path %>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th colspan="2"></th>
    </tr>

    <% @post.each do |post| %>
        <tr>
            <th><%= post.title %></th>
            <th><%= post.content %></th>
            <th><%= link_to 'Show', post_path(post) %></th>
            <th><%= link_to 'Edit', edit_post_path(post) %></th>
        </tr>
    <% end %>
</table>